:root {
    --headers-font-family: 'Raleway', sans-serif;
    --main-txt-col: #333;
    --secondary-txt-col: #F5F5F5;
    --main-bg-col: #F9F9F9;
    --secondary-bg-col: #184561;
    --main-el-bg-col: #70A8CC;
    --secondary-el-bg-col: #32BB8F;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

html {
    background-color: var(--main-bg-col);
}

/* REUSABLE ELEMENTS STYLES */
h1 {
    font-family: var(--headers-font-family);
    font-size: 22px;
    margin: 3em 0;
    text-transform: uppercase;
}
h4 {
    font-family: var(--headers-font-family);
    font-size: 18px;
}
h5 {
    font-family: var(--headers-font-family);
    font-size: 16px;
    text-transform: uppercase;
}

button {
    font-size: 10px;
    font-family: inherit;
    width: 150px;
    height: 32px;
    margin: 1em auto;
    border-radius: 15px;
    border: none;
}
.section__anchor {
    padding-top: 10px;
    margin-top: -10px;
}
section:not(:first-of-type) {
    margin-bottom: 2em;
}

/* NAVBAR  */
nav {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    z-index: 999;
    /* position: fixed; */
}
/* .navbar-fixed {
    position: fixed;
} */
.brand-logo {
    background-image: url('/img/logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
}
nav .sidenav-trigger {
    color: var(--main-txt-col);
}
nav ul a {
    color: var(--main-txt-col);
}
section .collapsible {
    /* box-shadow: none; */
    border: none;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.14), 0px 6px 9px 0px rgba(0,0,0,0.12), 0px 2px 7px 0px rgba(0,0,0,0.2);
}
a {
    text-decoration: none;
    color: var(--secondary-txt-col);
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

/* SIDENAV  */
nav .nav-wrapper {
    overflow: hidden;
}
.nav__title {
    margin: 0 auto;
    font-family: var(--headers-font-family);
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.sidenav {
    padding: 2em 0;
    text-align: center;
}
.sidenav__logo {
background-image: url("/img/logo.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
width: 100px;
height: 100px;
margin: 1em auto;
}
nav .brand-logo.left {
    top: 50%;
    transform: translateY(-50%);
}

/* HERO SECTION */
.hero__section {
    position: relative;
}
.hero__img {
    /* background-image: url('/img/hero_img.jpg'); */
    background-image: url('/img/min-hero.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
    /* height: 530px; */
    /* border-radius: 0 0 20px 20px; */
}
/* .hero__img::after {
    content:'';
    width:100%;
    height:40px;
    border:1px solid red;
    background: var(--main-bg-col);
    position:absolute;
    bottom:3px;
    border-radius: 20px 20px 0 0;
    z-index: 5;
} */
.hero__content__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.hero__content {
    font-weight: 700;
    color: var(--secondary-txt-col);
}
.hero__btn {
    background-color: var(--secondary-el-bg-col);
    color: var(--secondary-txt-col);
    font-size: 13px;
    width: 200px;
    height: 40px;
}

/* CONTACT SECTION */
.contact__section {
    background-color: var(--secondary-bg-col);
    color: var(--secondary-txt-col);
    border-radius: 45px 0 45px 0;
    padding: 20px 0;
    position: relative;
    top: -100px;
}
section.contact__section {
    margin-bottom: -100px;
}
.map {
    width: 100%;
    height: 85px;
    margin: 1.68em auto;
    background-image: url('/img/mapa.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact__content_wrapper {
    display: flex;
    flex-direction: column;
}
.contact__content_wrapper div {
   margin-bottom: 2em;
}
.contact__hours {
    display: flex;
    flex-direction: column;
}
.contact__info {
    display: flex;
    flex-direction: column;
}

/* ABOUT SECTION */
.section__img {
    background-image: url('/img/doctors.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}
.about__bg {
    background-color: #e6e6e6;
    padding: 66px 0;
    border-radius: 0 0 100px 0;
}

/* TEAM SECTION  */
.tabs {
    background-color: var(--main-bg-col);
    flex-wrap: wrap;
    margin-bottom: 1.68em;
    /* height: 300px; */
    height: auto;
}
.tab {
    cursor: pointer;
}
.tab:nth-of-type(n+4) {
    border-top: 1px solid #EFEFEF;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent;
    color: none;
}
.tabs .indicator {
    background-color: var(--secondary-bg-col);
    display: none;
}
.tabs .tab {
    height: 35px;
}
.col.s12.tabs__content {
    background-color: var(--main-el-bg-col);
    color: var(--secondary-txt-col);
    padding: 1em;
    margin-bottom: 1em;
}
img.responsive-img.drimg {
    height: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.flow-text.flow-text {
    text-transform: uppercase;
    margin-bottom: 1em;
}
/* .team__section li:first-of-type {
    border-radius: 25px 0 0 0;
}
.team__section li:last-of-type {
    border-radius: 0 0 25px 0;
} */
.team__section .collapsible {
    border-radius: 15px 6px 15px 6px;
    box-shadow: none;
    border: none;
}
.team__section .collapsible-header {
    color: var(--secondary-txt-col);
    background-color: var(--secondary-el-bg-col);
    border-bottom: 1px solid #28af84;
}
.team__section li.active .collapsible-header {
    /* background-color: #349d7c; */
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.14), 0px 3px 9px 0px rgba(0,0,0,0.12), 0px 2px 7px 0px rgba(0,0,0,0.2);
}
.collapsible-body__img {
    background-image: url("/img/doc1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin: 2em 0;
}
.collapsible-body p {
    margin: .5em;
}


/* OFFER SECTION  */
.offer__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: .5em;
    margin-bottom: 30px;
}
.offer__box {
    /* width: 100%; */
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
}
.offer__box h5 {
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--secondary-txt-col);
    font-weight: 600;
}
.offer__box:nth-of-type(1) {
    background-image: url('/img/oferta_galeria/box1.jpg');
}
.offer__box:nth-of-type(2) {
    background-image: url('/img/oferta_galeria/box2.jpg');
}
.offer__box:nth-of-type(3) {
    background-image: url('/img/oferta_galeria/box3.jpg');
}
.offer__box:nth-of-type(4) {
    background-image: url('/img/oferta_galeria/box4.png');
}
.offer__box:nth-of-type(5) {
    background-image: url('/img/oferta_galeria/box5.jpg');
}
.offer__box:nth-of-type(6) {
    background-image: url('/img/oferta_galeria/box6.jpg');
}

/* PATIENTS SECTION  */
section.patients__section {
    background-color: #e6e6e6;
    padding: 66px 0;
    border-radius: 0 100px 0 0;
    position: relative;
}
.section__content {
    margin-top: 1.68em;
}
.patients__bg {
    padding: 1.68em 0;
    margin: 1.68em 0;
}
.collapsible {
    margin: 0 auto;
}
.patients__section .collapsible {
    border-radius: 15px 6px 15px 6px;
}
.patients__section .collapsible-body {
    background-color: var(--main-bg-col);
}
/* .patients__section ul li:first-of-type {
    border-radius: 15px 6px 0 0;
}
.patients__section ul li:last-of-type {
    border-radius: 0 0 15px 6px;
} */
/* .patients__section ul:nth-of-type(2) li:first-of-type {
    border-radius: 0 25px 0 0;
} */
.patients__section .collapsible-header {
    color: var(--secondary-txt-col);
    background-color: #437898;
    border-bottom: 1px solid #56839f;
}
.patients__section li.active .collapsible-header {
    background-color: #386480;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.14), 0px 3px 9px 0px rgba(0,0,0,0.12), 0px 2px 7px 0px rgba(0,0,0,0.2);
}

/* FAQ SECTION  */
.faq__section {
    /* background-color: var(--secondary-bg-col); */
    /* color: var(--secondary-txt-col); */
    margin: 3.68em auto 1.68em auto ;
}
.faq__section h1 {
    text-transform: none;
}
.faq__wrapper {
    display: flex;
    flex-direction: column;
}
.faq__box {
    width: 100%;
    height: auto;
    background-color: var(--secondary-bg-col);
    color: var(--secondary-txt-col);
    border-radius: 6px;
    padding: 10%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.14), 0px 3px 9px 0px rgba(0,0,0,0.12), 0px 2px 7px 0px rgba(0,0,0,0.2);
}
.faq__box h5 {
    text-transform: none;
}
.faq__box p {
    margin: 1em auto 2em auto;
}

/* FOOTER  */
footer {
    text-align: center;
}
.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer__contact {
    display: flex;
    flex-direction: column;
    margin: 1.68em auto;
}
.footer__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80px;
}
.footer__box:nth-of-type(odd) {
    background-color: #F5F5F5;
}
.footer__box p {
    font-size: 14px;
}
.bold {
    font-weight: bolder;
}